@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}
@using StockTradingPlatform.Models
@model IEnumerable<StockTradingPlatform.Models.tblTradeRequest>

@{
    ViewBag.Title = "Trade Requests";
}
<div class="container rounded" style="background:#fff;">
    <h2 style="text-align:center">Trade Requests</h2></br>
    <table class="table">
        <tr>
            <th>
                Request Id
            </th>
            <th>
                User Name
            </th>
            <th>
                Stock
            </th>
            <th>
                Request Type
            </th>
            <th>
                Request Qty
            </th>
            <th>
                Remaining Qty
            </th>
            <th>
                Request Price (Rs.)
            </th>
            <th>
                Request Time
            </th>
            <th>
                Status
            </th>
            <th>Details</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr class="bg-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.requestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblUser.fname) @Html.DisplayFor(modelItem => item.tblUser.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblStock.stockName)
            </td>
            @if (item.requestType == "B")
            {
                <td>Buy</td>
            }
            else
            {
                <td>Sell</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.requestQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remainingQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.requestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.requestTime)
            </td>
            @if (item.requestStatus == "O")
            {
                <td>Open</td>
                <td></td>
            }
            else if (item.requestStatus == "P")
            {
                <td>Partially Filled</td>
                <td>
                    <button class="btn btn-primary view" onclick="toggleView(this)" data-id="@Html.DisplayFor(modelItem => item.requestId)" role="button" aria-expanded="false" aria-controls="collapseExample">
                        View Details
                    </button>
                </td>
            }
            else if (item.requestStatus == "C")
            {
                <td>Cancelled</td>
                <td></td>
            }
            else if (item.requestStatus == "D")
            {
                <td>Executed</td>
                <td>
                    <button class="btn btn-primary view" onclick="toggleView(this)" data-id="@Html.DisplayFor(modelItem => item.requestId)" role="button" aria-expanded="false" aria-controls="collapseExample">
                        View Details
                    </button>
                </td>
            }
        </tr>
        <tr class="collapse bg-primary" id="@Html.DisplayFor(modelItem => item.requestId)" >
            <td  colspan="10" >
                More details here
                <!--Prajjwal can write transaction details here-->
            </td>
        </tr>
        }
    </table>
</div>

<script type="text/javascript">
    function toggleView(t) {
        var myBookId = $(t).data("id");
        console.log(myBookId);
        console.log("hello");
        $("#" + myBookId).toggle();
        if ($("#" + myBookId).is(':visible')) {
            $(t).html('Hide Details');
        } else {
            $(t).html('View Details');
        }
    }
</script>