@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}
@using StockTradingPlatform.Models
@model IEnumerable<StockTradingPlatform.Models.tblTradeRequest>

@{
    ViewBag.Title = "Trade Requests";
}
<div class="container">
    <h2 style="text-align:center">Trade Requests</h2></br>
    <table class="table table-striped">
        <tr>
            <th>
                Request Id
            </th>
            <th>
                User Name
            </th>
            <th>
                Stock
            </th>
            <th>
                Request Type
            </th>
            <th>
                Request Qty
            </th>
            <th>
                Remaining Qty
            </th>
            <th>
                Request Price (Rs.)
            </th>
            <th>
                Request Time
            </th>
            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.requestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblUser.fname) @Html.DisplayFor(modelItem => item.tblUser.lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblStock.stockName)
                </td>
                @if (item.requestType == "B")
                {
                    <td>Buy</td>
                }
                else
                {
                    <td>Sell</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.requestQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remainingQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.requestPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.requestTime)
                </td>
                @if (item.requestStatus == "O")
                {
                    <td>Open</td>
                }
                else if (item.requestStatus == "P")
                {
                    <td>Partially Filled</td>
                }
                else if (item.requestStatus == "C")
                {
                    <td>Cancelled</td>
                }
                else if (item.requestStatus == "D")
                {
                    <td>Done</td>
                }
            </tr>
        }
    </table>
</div>