@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}


@{
    ViewBag.Title = "Admin Profile";
}

<div class="container">
    <h2 style="text-align:left">Admin Profile</h2><br />
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image --> 
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Images/admin.png" alt="User profile picture">

                    <h3 class="profile-username text-center">@ViewBag.fname &nbsp;@ViewBag.lname</h3>

                    <p class="text-muted text-center">Software Engineer - I</p>

                    <ul class="list-group list-group-unbordered">

                        <li class="list-group-item">
                            <b>User Name</b> <a class="pull-right">@ViewBag.userName</a>
                        </li>
                        <li class="list-group-item">
                            <b>Phone Number</b> <a class="pull-right">@ViewBag.mob</a>
                        </li>
                    </ul>

                    <a href='@Url.Action("EditAdminUser",new { id =ViewBag.uid })' class="btn btn-primary btn-block"><b>Edit Profile</b></a>
                    <a href="~/ChangePassword.aspx" class="btn btn-primary btn-block"><b>Change Password</b></a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col -->
        <div class="col-md-9">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                    <p class="text-muted">
                        B.E in @ViewBag.education
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                    <p class="text-muted">Bengaluru, Karnataka</p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                    <p>
                        <span class="label label-danger">Coding</span>
                        <span class="label label-success">C#</span>
                        <span class="label label-info">.Net</span>
                        <span class="label label-warning">Sql-Server</span>
                        <span class="label label-primary">UI Design</span>
                    </p>

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                    <p>Coding is always fun .<br/>
                    Developing this website was a great experience.</p>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>

</div>