@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}

@model IEnumerable<StockTradingPlatform.Models.tblUser>

@{
    ViewBag.Title = "All Users";
}

<div class="container">
    <h2 style="text-align:center">User Details</h2>



    <p>
        <button class="button btn btn-primary  btn_submit"><a href="~/Admin/AddUser.aspx" style="color:white">Add New User</a></button>
    </p>

    <table class="table table-striped">
        <tr>
            <th>UId</th>    
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Mobile
            </th>
            <th>
                DOB
            </th>
            <th>
                Address
            </th>
            <th>
                Role
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.uid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <button class="button btn btn-primary  btn_submit">@Html.ActionLink("Modify", "EditUser", new { id = item.uid }, new { @style = "color:White" })</button>
                  
                </td>
            </tr>
        }

    </table>
</div>