<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@using StockTradingPlatform.Models

@{
    /**/

    Layout = "~/Views/Shared/_UserDashboard.cshtml";
    ViewBag.Title = "Dashboard";
    List<GetStocksData_Result> stockdetails = ViewBag.stockDetails;
}

<div class="container">
    @Html.Partial("StockPrices",stockdetails)
</div>


<div class="container rounded" id="graph1" style="background-color: #fff;padding: 20px;">

</div>




<div class="container rounded" style="background-color: #fff;padding-top: 20px;margin-top:20px;padding-left:20px;padding-right:20px;padding-bottom:40px;">
    <div class="row">
        <div class="col-sm-10">
            <h4>Market Requirements</h4>
        </div>
        <div class="col-sm-2">

            <a href='@Url.Action("TradeRequest", new { a = 1 })'><input type="button" class="btn btn-outline-primary" value="Put a trade request" /></a>
        </div>
    </div>

    <table class="table table-striped" style="margin-top:15px;">
        <tr class="text-center">
            <th>Stock Name</th>
            <th>Request Type</th>
            <th>Quantity</th>
            <th>Request Price</th>
        </tr>
        @foreach (var item in ViewBag.allUserReq)
        {
            <tr class="text-center">
                @foreach (var stock in ViewBag.stocks)
                {
                    if (@stock.stockId == @item.stockId)
                    {
                        <td>@stock.stockName</td>
                        break;
                    }
                }
                @if (item.requestType == "B")
                {
                    <td>Buy</td>
                }
                else
                {
                    <td>Sell</td>
                }
                <td>@item.remainingQty</td>
                <td>@item.requestPrice</td>
            </tr>
        }
    </table>
    <span class="float-right" style="padding:5px;"><a href='@Url.Action("AllRequests")' class="text-primary">View More ></a></span>
</div>
<br /><br />


<div class="container rounded" style="background-color: #fff;padding-top: 20px;margin-top:20px;padding-left:20px;padding-right:20px;padding-bottom:40px;">
    <h4>Ongoing Requests</h4>
    <table class="table table-striped" style="margin-top:15px;">
        <tr class="text-center">
            <th>Stock Name</th>
            <th>Request Type</th>
            <th>Quantity</th>
            <th>Quantity Remaining</th>
            <th>Request Price</th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.ongoingReq)
        {
            <tr class="text-center">
                @foreach (var stock in ViewBag.stocks)
                {
                    if (@stock.stockId == @item.stockId)
                    {
                        <td>@stock.stockName</td>
                        break;
                    }
                }
                @if (item.requestType == "B")
                {
                    <td>Buy</td>
                }
                else
                {
                    <td>Sell</td>
                }
                <td>@item.requestQty</td>
                <td>@item.remainingQty</td>
                <td>@item.requestPrice</td>
                <td>
                    <a href='@Url.Action("CancelRequest",new { id = item.requestId })'><input type="button" value="Cancel" class="btn btn-outline-danger" /></a>
                    <a href='@Url.Action("TradeRequest",new { a = 0 , id = item.requestId })'><input type="button" value="Modify" class="btn btn-outline-success" /></a>
                </td>
            </tr>
        }
    </table>
    <span class="float-right" style="padding:5px;"><a href='@Url.Action("UserTradeRequests")' class="text-primary">View More ></a></span>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
    var v = undefined;

    window.setInterval(function () {
        if (v != undefined) {
            v.click();
        }
        console.log("clicked");
    }, 5000);


    $(".view").click(function () {
        v = $(this);
        google.charts.load('current', { 'packages': ['corechart'] });
        
        var stockid = $(this).data("id").toString();
        var stockname = $(this).data("name").toString();
        google.charts.setOnLoadCallback(function () {
            $.ajax({
                url: "/User/GetData/" + stockid,
                type: 'GET',
                dataType: 'json',
                success: function (chartsdata) {
                    console.log(chartsdata);
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'd');
                    data.addColumn('number', 'price');
                    data.addColumn({ type: 'string', role: 'tooltip' });
                    $.each(chartsdata, function (i, v) {
                        data.addRow([new Date(parseInt(v.timeOfDay.substr(6))), v.currentPrice, new Date(parseInt(v.timeOfDay.substr(6))).toString() + "\n Price : " + v.currentPrice]);
                    });

                    var options = {
                        title: stockname,
                        hAxis: { title: 'Stock Prices', titleTextStyle: { color: '#333' } },
                        vAxis: { minValue: 0 },
                        tooltip: { isHtml: true },
                        legend: 'none',
                        bar: { groupWidth: '50%' },
                        'height':'400'
                    };


                    var chart = new google.visualization.AreaChart(document.getElementById('graph1'));

                    chart.draw(data, options);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".view").click();
    });
</script>
